<div class="preview-grid ellipsis" ng-show="prices">
    <div class="header ellipsis">
        <div class="header-cell index inline-block">序号</div>
        <div class="header-cell category inline-block">品种</div>
        <div class="header-cell city inline-block">城市</div>
        <div class="header-cell designation inline-block">牌号</div>
        <div class="header-cell manufacturer inline-block">生产商</div>
        <div class="header-cell originCountry inline-block">产地</div>
        <div class="header-cell warehouse inline-block">仓库</div>
        <div class="header-cell price inline-block">价格</div>
        <div class="header-cell weight inline-block">数量</div>
        <div class="header-cell futures inline-block">期货</div>
        <div class="header-cell remark inline-block">备注</div>
        <div class="header-cell operator inline-block">操作</div>
    </div>
    <div class="body ellipsis">
        <div ng-class-odd="'alt'" ng-class="' clearfix'" ng-repeat="row in prices" class="row"
             data-row-index="{{$index}}">
            <!--序号-->
            <div data-field="index" class="body-cell index inline-block ellipsis"
                 ng-class="{error:hasError(row)}">
                {{$index + 1}}
            </div>

            <!--品种-->
            <div  class="body-cell category inline-block " >
                <div class="content ellipsis"
                     data-field="category"
                     ng-class="{error:row.errors.category}"
                     ng-class="{modify:row.modifies.category}">
                    {{row.category}}
                </div>
            </div>

            <!--城市-->
            <div  class="body-cell city inline-block ">
                <div class="content ellipsis"
                     data-field="city"
                     ng-class="{error:row.errors.city}"
                     ng-class="{modify:row.modifies.city}">
                    {{row.cityName}}
                </div>
            </div>

            <!--牌号-->
            <div  class="body-cell designation inline-block ">
                <div class="content ellipsis"
                     data-field="designation"
                     ng-class="{error:row.errors.designation}"
                     ng-class="{modify:row.modifies.designation}">
                {{row.designation}}
                    </div>
            </div>

            <!--生产商-->
            <div  class="body-cell manufacturer inline-block ">
                <div class="content ellipsis"
                     data-field="manufacturer"
                     ng-class="{error:row.errors.manufacturerName}"
                     ng-class="{modify:row.modifies.manufacturerName}">
                    {{row.manufacturerName}}
                </div>
            </div>

            <!--产地-->
            <div  class="body-cell originCountry inline-block ">
                <div class="content ellipsis"
                     data-field="originCountry"
                     ng-class="{error:row.errors.originCountry}"
                     ng-class="{modify:row.modifies.originCountry}"
                        >
                {{row.originCountryNameCn}}
                </div>
            </div>

            <!--仓库-->
            <div class="body-cell warehouse inline-block ">
                <div class="content ellipsis"
                     data-field="warehouse"
                     ng-class="{error:row.errors.warehouse}"
                     ng-class="{modify:row.modifies.warehouse}">
                {{row.warehouseName}}
                    </div>
            </div>

            <!--价格-->
            <div  class="body-cell price inline-block ">
                <div class="content ellipsis"
                     data-field="price"
                     ng-class="{error:row.errors.price}"
                     ng-class="{modify:row.modifies.price}">
                    ￥{{(row.price || row.priceString) }}
                </div>
            </div>

            <!--数量-->
            <div class="body-cell weight inline-block ">
                <div class="content ellipsis"
                     data-field="weight"
                     ng-class="{error:row.errors.weight}"
                     ng-class="{modify:row.modifies.weight}">
                    {{(row.weight || row.weightString) }}吨
                </div>
            </div>

            <!--期货-->
            <div  class="body-cell futures inline-block ">
                <div class="content ellipsis"
                     data-field="futures"
                     ng-class="{error:row.errors.futures}"
                     ng-class="{modify:row.modifies.futures}">
                    {{row.futuresString}}
                </div>
            </div>

            <!--备注-->
            <div data-field="remark" class="remark   body-cell  inline-block ellipsis">
                <div class="content ellipsis">
                    {{::row.remark}}
                </div>
            </div>

            <!--操作-->
            <div data-field="operator" class="operator   body-cell  inline-block ellipsis">
                <a href="javascript:void(0)" class="preview-del-btn" ng-click="deleteRow($index)">删除</a>
            </div>
        </div>

        <div class='edit-pan'>

            <!--品种picker-->
            <div ng-show="currField == 'category'" class="edit-field-row">
                <ks-category-kw-picker ng-model="entity.category" checked-item="selectedObj.category"></ks-category-kw-picker>
            </div>

            <!--城市picker-->
            <div ng-show="currField == 'city'" class="edit-field-row">
                <ks-city-kw-picker ng-model="entity.city" selected-item="selectedObj.city"></ks-city-kw-picker>
            </div>

            <!--牌号-->
            <div ng-show="currField == 'designation'" class="edit-field-row">
                <!--<input type="text" ng-model="entity.designation"/>-->
                <ks-designation-kw-picker ng-model="entity.designation"
                                          display-field="designation"
                                          value-field="designation"
                                          placeholder="牌号"
                                          business-code="designation2"></ks-designation-kw-picker>
            </div>

            <!--生产商-->
            <div ng-show="currField == 'manufacturer'" class="edit-field-row">
                <ks-manufacturer-picker ng-model="entity.manufacturer" selected-item="selectedObj.manufacturer"></ks-manufacturer-picker>
            </div>

            <!--产地-->
            <div ng-show="currField == 'originCountry'" class="edit-field-row">
                <ks-country-picker ng-model="entity.originCountry" selected-item="selectedObj.originCountry"></ks-country-picker>
            </div>

            <!--仓库-->
            <div ng-show="currField == 'warehouse'" class="edit-field-row">
                <input type="text" ng-model="entity.warehouse"/>
            </div>

            <!--价格-->
            <div ng-show="currField == 'price'" class="edit-field-row">
                <input type="number" ng-model="entity.price"/>
            </div>

            <!--数量-->
            <div ng-show="currField == 'weight'" class="edit-field-row">
                <input type="number" ng-model="entity.weight"/>
            </div>

            <!--期货-->
            <div ng-show="currField == 'futures'" class="edit-field-row">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="entity.futures" btn-radio="0">现货</label>
                    <label class="btn btn-default" ng-model="entity.futures" btn-radio="1">期货</label>
                </div>
            </div>

            <div style="text-align:center;margin: 10px;" class="clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-success" ng-click="sure()">确定</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-success" ng-click="updateAllSame()">更新相同</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-success" ng-click="cancel()">取消</a>
            </div>
        </div>


    </div>


</div>

