<div >
    <form ng-show="!previewMode" role="form" method="post" id="fimrUploadForm" class="form  ks-form ks-edit-form container-fluid "
          name="editForm" novalidate encType="multipart/form-data" >

        <!--供应商-->
        <div class="form-group  normal" style="width:420px;margin-bottom: 0">
            <label class=" control-label ks-control-label" style="width:100px;float:left">供应商</label>
            <ks-supplier-keyword-picker ng-model="supplierId" width="170"></ks-supplier-keyword-picker>
        </div>

        <!--选择文件input-->

        <div class="form-group normal" style="width: 100%">
            <label class=" control-label" style="width: 95px;float:left;margin-right:15px">文件</label>

            <div style="position: relative;float: left">
                <input type="text" name="imgFilePath" class="form-control" id="imgFilePath"
                       style="float: left;width: 232px;margin-left: auto"
                       value="" ng-model="fileName" readonly required="true">
                <button type="button" class="btn btn-default btn-sm" style="height: 32px;float: left;margin-left:5px">
                    <span class="fa fa-folder-open"></span>浏 览
                </button>

                <ks-file-upload ks-name="file" file-type="'/\.(xls|xlsx)$/'" required="true" file-name="fileName"
                                file-size="fileSize" type-error="typeError" over-size-error="overSizeError"
                                max-size="1048576" class="file-btn"></ks-file-upload>

            </div>

            <div style="float: left;text-align: center;line-height: 32px;margin-left: 5px">
                <span ng-show="fileSize">文件大小:<sapn style="color:forestgreen">{{(fileSize/1024/1024).toFixed(2)}}</sapn>MB</span>
                <span ng-show="overSizeError" class="upload-error-info">文件大小超出限制</span>
                <span ng-show="typeError" class="upload-error-info">文件格式错误</span>
            </div>


        </div>


        <input name="supplierId" id="uploadSupplierId" type="hidden"/>

        <div class="clearfix">

            <!--发布时间选择-->
            <div style="float:left;width:295px">
                <div class="col-xs-4" style="width:70px;text-align: right;padding-right: 0;line-height: 33px;">
                    <label class="ks-control-label" style="vertical-align: middle"> 发布</label>
                </div>
                <div class="col-xs-7" style="width: 220px">
                    <p class="input-group" style="width: 135px;float:left">
                        <input type="text"
                               name="publishDate"
                               class="form-control"
                               datepicker-popup="yyyy-MM-dd"
                               ng-model="publishDate "
                               is-open="publishStartOpened"
                               datepicker-options="dateOptions"
                               close-text="取消"
                               current-text="今天"
                               clear-text="清除"
                               style="width:96px;font-size: 12px"/>
                            <span class="input-group-btn">

                                <button type="button" class="btn btn-default" ng-click="openPublishDateStart($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                    <div style="float:left;width:50px;margin-left:3px;">
                        <button class="btn btn-success" ng-click="updatePublishDate()">今天</button>
                    </div>
                </div>
            </div>

            <!--失效时间选择-->
            <div style="float:left;width:330px">
                <div class="col-xs-4" style="width:70px;text-align: right;padding-right: 0;line-height: 33px;">
                    <label class="ks-control-label" style="vertical-align: middle"> 失效</label>
                </div>
                <div class="col-xs-7" style="width: 250px">
                    <p class="input-group" style="width:135px;float:left">
                        <input type="text"
                               class="form-control"
                               name="expireDate"
                               datepicker-popup="yyyy-MM-dd"
                               ng-model="expireDate"
                               is-open="publishEndOpened"
                               datepicker-options="dateOptions"
                               close-text="取消"
                               current-text="今天"
                               clear-text="清除"
                               style="width:96px;font-size: 12px"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openPublishDateEnd($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                    <select style="width:40px;height:34px;float:left;margin-left: 3px" id="selectorDateDelay"
                            ng-change="updateExpireDate()" ng-model="daysAfter">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                    </select>
                    <label style="float:left;height:34px;line-height: 35px;margin-left:3px;">天后</label>
                </div>
            </div>
        </div>

        <div class="  modal-footer">

            <button style="display: none"></button>

            <!--上传按钮-->
            <a class="btn btn-success" ng-disabled="editForm.$invalid">
                <span class="glyphicon glyphicon-upload" ng-click="upload(editForm)">上传</span>
            </a>


            <!--预览按钮-->
            <a class="btn btn-primary" ng-click="preview(editForm)" >
                <span class="glyphicon glyphicon-eye-open"></span>预览
            </a>

            <!--取消按钮-->
            <a href="javascript:void(0)" type="button" ng-click="dismiss()" class="btn btn-warning">取消</a>
        </div>

    </form>
    <div style="height:1px;width:1020px"></div>
    <div >

        <div id="previewGrid" >
            <div style="margin:5px 0;">
                <a href="javascript:void(0)" type="button" ng-click="saveAll()" class="btn btn-warning btn-sm" ng-show="pricesInfo.errorItemNum > 0"><span class="fa fa-check"></span>保存</a>
                <span ng-show="pricesInfo.successItemNum > 0 && pricesInfo.errorItemNum > 0 ">
                    <span style="color:green;font-size: 14px;">成功：{{pricesInfo.successItemNum}}条</span>|
                    <span style="color:red;font-size: 14px;">失败：{{pricesInfo.errorItemNum}}条</span>
                </span>
            </div>

            <ks-price-preview prices="prices" prices-info="pricesInfo" ng-show="pricesInfo.errorItemNum > 0 && previewMode" ></ks-price-preview>
            <div ng-show="pricesInfo.errorItemNum < 1" style="text-align: center;font-size: 20px;color:green">
                <span class="fa fa-check"></span>全部保存成功
            </div>
            <form method="post" id="bacthFrom" role="form">
                <input type="hidden"  name="supplierId" id="ksUploadPreviewSupplierId" />
                <input type="hidden"  name="publishDate" id="ksUploadPreviewPublishDate" />
                <input type="hidden"  name="expireDate" id="ksUploadPreviewExpireDate"/>
                <input type="hidden" value="" name="prices" id="ksUploadPreviewPrices"/>
            </form>
        </div>
    </div>

    <iframe name='hidden_frame' id="hidden_frame" style='display:none;height: 10px;'></iframe>

</div>