.car_sell_list,.car_sell_list body,.car_sell_list #main{
    background-color: #efefef;
    min-height: 100%;
}
.car_sell_list .list{
    margin-top:.5rem;
}
.car_sell_list .list .item{
    background: #fff;
    margin:.5rem;
    margin-top:0;
    display:flex ;
    padding:0.75rem;
    padding-right:0;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    border-radius:0.25rem;
}
.car_sell_list .item .left{
    flex:5;
}
.car_sell_list .item .right{
    flex:1;
}
.car_sell_list .item .title{
    font-size: 0.8rem;
    margin-bottom:0.5rem;
}
.car_sell_list .item .title>*{
    display: inline-block;
    vertical-align: middle;
}
.car_sell_list .item .icon{
    width:1.575rem;
}
.car_sell_list .item .text{
    width:7.5rem;
    font-weight: bold;
    padding-left:0.2rem;
}
.car_sell_list .item .count{
    width:4rem;
    text-align: right;
}
.car_sell_list .item .count span{
    color: #d27e00;
}
.car_sell_list .item .content{
    font-size: 0.65rem;
    color:#666;
}
.car_sell_list .item .right{
    position:relative;
}
.car_sell_list .item.checkbox .right:after{
    content:'';
    display: inline-block;
    width:0.9rem;
    height:0.9rem;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto auto;
    background-image: url("../images/icon_uncheck.png");
    background-size: 100%;
}
.car_sell_list .item.checkbox.checked .right:after{
    background-image: url("../images/icon_checked.png");
}
.car_sell_list .item.bought .right:after{
    content:'';
    display: inline-block;
    position: absolute;
    top:0;
    right:-0.2rem;
    width:2.625rem;
    height:1rem;
    background-image: url("../images/icon_bought.png");
    background-size: 100%;
    background-repeat:no-repeat;
}

.car_sell_list .bottom{
    display: flex;
    position: fixed;
    left:0;
    bottom:0;
    background-color: #fff;
    width:100%;
    padding:0.5rem;
    border-top:1px solid #d8d8d8;
}
.car_sell_list .bottom .total{
    flex:2;
    padding:0.5rem 0;
}
.car_sell_list .bottom .total span{
    color: #d27e00;
}
.car_sell_list .bottom .btn{
    flex:1;
}
.car_sell_list .bottom .btn.disabled{
    flex:1;
    color: #fff;
    background-color: #d8d8d8;
}

/*车主卡说明*/
.car_statement{
    text-align: center;
    color: #999;
}
.car_statement span{
    color: #d27e00;
}