#etc_list *{

}
#etc_list .main{
    padding-bottom:3.5rem;
}
#etc_list .card_mod{
    margin:0.5rem;
    margin-bottom:0;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
}
#etc_list .card_mod.disabled{
    background: #f7f7f7;
    color:#c4c4c4;
}
#etc_list .card_mod.disabled .title{
    color:#999;
}

#etc_list .card_mod .title{
    overflow: hidden;
    border-bottom:1px solid #e4e4e4;
}
#etc_list .title .left,#etc_list .title .right{
    margin:0.5rem 0;
}
#etc_list .title .left{
    border-left:0.175rem solid #E0B677;
    padding-left:0.5rem;
}
#etc_list .title .right{
    padding-right:0.5rem;
    text-align: right;
}

#etc_list .detail_item{
    overflow: hidden;
    margin-left:0.5rem;
    padding:0.5rem 0;
    border-bottom:1px solid #efefef;
}
#etc_list .detail_item:last-child{
    border-bottom:0;
}

#etc_list .detail_item .right{
    padding-right:0.5rem;
}

#etc_list .detail_item.statement{
    margin:0;
    padding:0.5rem;
    color:#d27e00;
}

#etc_list .footer{
    position: fixed;
    bottom:0;
    width:100%;
    background: #fff;
    border-top:1px solid #dcdcdc;
    padding:0.5rem 0.75rem;
}
#etc_list .note{
    color:#999;
    padding:0.5rem;
    padding-top:2rem;
}

#etc_list .icon-checkbox{
    color:#28bc93;
}

#etc_list .main.empty{
    padding-top:7.175rem;
}
#etc_list .main.empty img{
    width: 8.4rem;
}
#etc_list .main.empty .text{
    color:#999;
    line-height: 300%;
}