#restore_detail *{

}
#restore_detail .top{
    padding:1.625rem 0;
    text-align: center;
}
#restore_detail .top .money{
    color:#eabf50;
    font-size:1.9rem;
}
#restore_detail .top .text{
    color:#999;
    font-size:0.6rem;
}

#restore_detail .list .title{
    padding:0.75rem 0.75rem;
    border-bottom:1px solid #e4e4e4;
    color:#666666;
    font-size: 0.65rem;
}

#restore_detail .item{
    overflow: hidden;
    margin-left:0.75rem;
    line-height:150%;
    border-bottom:1px solid #e4e4e4;
}
#restore_detail .item *{
    font-size: 0.65rem;
}

#restore_detail .item .no_trans{

}
#restore_detail .item:last-child{
    border-bottom:none;
}
#restore_detail .item_money{
    font-size: 0.75rem;
    color:#d27e00;
    margin-left:1rem;
}
#restore_detail .item_left,#restore_detail .item_right{
    float: left;
    display: inline-block;
}
#restore_detail .item_left{
    width:60%;
    padding:0.5rem 0;
}
#restore_detail .item_right{
    width:40%;
    padding:1rem 0.75rem 1rem 0;
    color:#999;
    text-align: right;
}
#restore_detail .item_title{
    font-size: 0.75rem;
}
#restore_detail .item_subtitle{
    color:#999;
}