<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--<link rel="stylesheet" type="text/css" href="../resources/css/login.css">-->
    <link rel="stylesheet" type="text/css" href="../css/style.min_7374ab0647.css">
    <title>首页</title>
</head>
<body class="login">
<div id="app" v-cloak>
    <div class="bg"></div>
    <div class="main_field">
        <div class="nav"></div>
        <div class="login_title" style="text-align: center">
            <img src="../images/uc_logo_text.png" alt=""/>
            <br><br><br>
            <span>
                敬请期待
            </span>
        </div>
    </div>
</div>

<!--<script>
    (function(){
        function w () {
            var r = document.documentElement;
            var a = r.getBoundingClientRect().width;
            if (a > 750) {
                a = 750;
            };
            rem = a / 7.5;
            r.style.fontSize = rem + 'px';
        };
        var t;
        w();
        window.addElementListener('resize',function(){
            clearTimeout(t);
            t = setTimeout(w,300)
        },false);
    })();
</script>-->

<script src="../js/common_9e73081d64.js"></script>
<script src="../js/index_504b0eaeeb.js"></script>
</body>
</html>