html {
    font-family: Microsoft Yahei, Hiragino Sans GB, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #333;
    font-size: 50px;
}

/*@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}*/

body {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei, Hiragino Sans GB, "Helvetica Neue", Helvetica, sans-serif;
    background-image: linear-gradient(-110deg, #00c99d 0%, #00bcbc 100%, #00bbbe 100%);
    width: 7.5rem;
    height: 13.34rem;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main_field {
    padding: 0.68rem 0.32rem 0.68rem 0.32rem;
    height: 100%;
    display: block;
}

.nav {
    width: 0.16rem;
    height: 0.33rem;
    display: block;
    background: url(../image/left-nav.png) center left no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    mrigin-right:3.72rem;
    display: block;
}

.login_title {
    display: block;
    margin: 1.63rem 0.08rem 0.86rem 0.08rem;
    font-size: 0.4rem;
    line-height: 0.4rem;
    height: 0.4rem;
    width: 100%;
}

.login_title span {
    color: #ffffff;
    text-align: left;
}

.login_input_field {
    display: block;
    margin: 1.63rem 0.08rem 0.86rem 0.08rem;
    font-size: 0.4rem;
    line-height: 0.4rem;
    height: 0.8rem;
    width: 100%;
}
