<!DOCTYPE html>
<html class="car_order_detail">

<head>
    <meta charset="utf-8">
    <title>车主卡订单详情</title>
    <meta id="meta_viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css">

</head>

<body>
<div id="app" v-cloak>
    <!--头部组件，注释详见header组件-->
    <comp-header :back_close="true" :title="'订单详情'"></comp-header>
    <div id="main" :class="platform" v-if="json_data">
        <div class="timeout" v-if="json_data.timeout>0">
            剩余时间：{{timeout_cn}}
        </div>
        <div class="list" :class="{'nmt':json_data.timeout>0}">
            <div class="item">
                <div class="label">
                    车牌号码
                </div>
                <div class="content">
                    {{json_data.plate_num}}
                </div>
            </div>
            <div class="item">
                <div class="label">
                    油卡卡号
                </div>
                <div class="content">
                    {{json_data.card_number}}
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <div class="label">
                    订单状态
                </div>
                <div class="content">
                    {{getOrderStatusCn(json_data.order_status)}}
                </div>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <div class="label">
                    购买项目
                </div>
                <div class="content">
                    {{json_data.buy_item}}
                </div>
            </div>
            <div class="item">
                <div class="label">
                    订单金额
                </div>
                <div class="content">
                    <span>
                        ￥{{json_data.original_amount}}/年
                    </span>
                </div>
            </div>
            <div class="item" v-for="(item,key) in json_data.service_json">
                <div class="label">
                    {{getServiceCn(item.order_type)}}
                </div>
                <div class="content">
                    ￥{{item.price}}/年
                </div>
            </div>
            <!--<div class="item">
                <div class="label">
                    洗车特权
                </div>
                <div class="content">
                    ￥500/年
                </div>
            </div>
            <div class="item">
                <div class="label">
                    洗车特权
                </div>
                <div class="content">
                    ￥500/年
                </div>
            </div>-->
        </div>

        <div class="list">
            <div class="item">
                <div class="label">
                    下单时间
                </div>
                <div class="content">
                    {{json_data.create_time}}
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <div class="label">
                    订单编号
                </div>
                <div class="content">
                    {{json_data.order_id}}
                </div>
            </div>
        </div>

        <div class="comment">
            <div class="comment_empty" @click="toComment" v-if="json_data.order_status==0">
                评论特权卡
            </div>
            <div class="comment_list">
                <div class="comment_item" v-for="(item, index) in comment_rows">
                    <div class="info">
                        <img class="user_icon" :src="item.avatar"
                             onerror="javascript:this.src='../images/icon_logo.png'"/>
                        <div class="middle">
                            <div class="user_name">{{item.nickname}}</div>
                            <div class="star" :class="{
                                                        'star_0':item.star==0,
                                                        'star_1':item.star==1,
                                                        'star_2':item.star==2,
                                                        'star_3':item.star==3,
                                                        'star_4':item.star==4,
                                                        'star_5':item.star==5,
                                                        }"></div>
                        </div>
                        <div class="time">{{item.create_time}}</div>
                    </div>
                    <div class="content">
                        {{item.content}}
                    </div>
                </div>
                <!--<div class="comment_item">
                    <div class="info">
                        <img class="user_icon" src="../images/icon_user.png"></img>
                        <div class="middle">
                            <div class="user_name">车宝君</div>
                            <div class="star star_2"></div>
                        </div>
                        <div class="time">2016-04-25 12:00</div>
                    </div>
                    <div class="content">
                        您要找的那个页面，程程实在没有找到
                    </div>
                </div>-->
            </div>
        </div>
        <div class="block"></div>
        <div class="footer" v-if="json_data.order_status==6">
            <div class="buy">
                <div class="total">
                    共计 <span>￥{{json_data.original_amount}}</span>
                </div>
                <div class="btn" :class="{'disabled':!(json_data.timeout>0)}" @click="json_data.timeout>0?toSubmit():''">
                    提交订单
                </div>
            </div>
        </div>
        <div class="footer" v-if="json_data.order_status==0" @click="toCardDetail">
            <div class="btn">
                查看特权卡
            </div>
        </div>
    </div>
</div>
<script src="../js/common.js"></script>
<script src="../js/car_order_detail.js"></script>
</body>

</html>
