<!DOCTYPE html>
<html class="car_sell_list">

<head>
    <meta charset="utf-8">
    <title>车主卡购买/升级列表</title>
    <meta id="meta_viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css">

</head>

<body>
<div id="app" v-cloak>
    <!--头部组件，注释详见header组件-->
    <comp-header :title="'ETC车主卡'"></comp-header>
    <div id="main" :class="platform">
        <div class="list" v-if="json_data">
            <div :data-price="item.price<=0?0:item.price"
                 :data-id="item.id"
                 class="item"
                 :class="{
                          'checkbox':item.status!=2,
                          'bought':item.status==2
                         }"
                 @touchstart="touchStart"
                 @touchmove="touchMove"
                 @touchend="item.status!=2?select_card($event):''"
                 v-for="item in json_data">
                <div class="left">
                    <div class="title">
                        <img :src="item.icon" onerror="this.src='../images/icon_car_sta.png'" class="icon"></img>
                        <div class="text">
                            {{item.title}}
                        </div>
                        <div class="count">
                            <div v-if="item.price>0">
                                <span>￥{{item.price}}</span>/年
                            </div>
                            <div v-if="!(item.price>0)">
                                <span>免费升级</span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        {{item.detail}}
                    </div>
                </div>
                <div class="right">
                </div>
            </div>

            <div class="car_statement" @click="toStatement">
                购买ETC车主特权卡即同意
                <span>
                    《服务协议》
                </span>
            </div>
        </div>

        <div style="height:3.025rem;"></div>
        <div class="bottom">
            <div class="total">
                共计<span>￥{{total}}</span>/年
            </div>
            <div class="btn" :class="{'disabled':!selected_card.length>0}" @click="selected_card.length>0?to_buy():''">
                立即购买
            </div>
        </div>
    </div>
</div>
<script src="../js/common.js"></script>
<script src="../js/car_sell_list.js"></script>
</body>

</html>
