<!DOCTYPE html>
<html class="car_bind_list">

<head>
    <meta charset="utf-8">
    <title>车主卡绑定列表</title>
    <meta id="meta_viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css">
</head>

<body>
<div id="app" v-cloak>
    <!--头部组件，注释详见header组件-->
    <comp-header :title="'服务协议'"></comp-header>
    <div id="main">
        <div style="padding:0.5rem;line-height: 200%;">
        <p>
            【协议说明】本协议是您与ETC车宝之间关于使用本服务所订立的协议。<br/>
            【审慎阅读】您在申请购买流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。如您对协议有任何疑问，可向ETC车宝客服咨询。<br/>
            【签约动作】当您按照注册购买页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与ETC车宝达成一致，成为ETC车宝特权卡用户。您的注册行为将被认为是对本协议全部条款无保留的接受和遵守。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。<br/>
            【词汇定义】本文中所用词汇定义如下：<br/>
            ETC车宝：指ETC车宝客户端及其他现在或将来推出的基于ETC车宝汽车后市场服务的平台。<br/>
            用户：指阅读并同意本协议内容，经过ETC车宝注册购买ETC车宝年卡服务的用户各项服务使用者的单位或个人。（以下更多称为“您”）<br/>
            ETC车宝管理规定：指包括本协议在内的，由用户签署，或由ETC车宝在明显位置展示的，具有规范用户行为作用的各类规定、提示、声明文件。<br/>
            一、ETC车宝特权卡服务说明：<br/>
            1.1 激活特权卡后有效期固定为1年，有效期内用户可享受所购买的特权服务<br/>
            1.2 用户可以自行选择所购买的特权服务，购买后通过激活特权卡的方式即可享受所购买的特权优惠<br/>
            1.3 平台会因应市场需求对特权卡服务项目作出调整，但并不会影响用户已购买的特权优惠。用户可以根据自己所需对平台推出的特权优惠进行升级。<br/>
            二、用户的权利和责任：<br/>
            2.1 您有权利拥有自己的ETC车宝车主卡认证用户账号及验证码，并有权利使用自己的认证用户账号随时登陆并使用ETC车宝车主卡服务。<br/>
            2.2 您不得以任何形式转让或授权他人使用自己的ETC车宝车主卡账号，亦不得盗用他人帐号，由以上行为造成的后果由用户自行承担。<br/>
            2.3 您不得以任何形式利用车主卡特权刷单或配合商家刷单，若发现涉嫌行为，一经查实，将予以冻结车主卡处理，届时将无法再行使车主卡特权。<br/>
            三、服务变更、中断或终止：<br/>
            3.1 用户在ETC车宝APP在线购买ETC车宝车主卡的用户视为已经激活兑换将不予退款。<br/>
            3.2 因系统维护或品牌升级等需要而暂停线上或线下服务事宜，ETC车宝将尽可能事先进行通告。<br/>
            3.3 ETC车宝有权判定用户的使用服务行为是否符合本服务条款的要求，如果用户违背了本服务条款的规定，ETC车宝有权中断或停止对其提供服务。<br/>
            四、服务条款修改：<br/>
            4.1 ETC车宝有权根据服务情况变更、终止ETC车宝车主卡在线服务规定的各项条款，ETC车宝将会通过适当方式向您提示修改内容。<br/>
            4.2 如果您不同意ETC车宝服务规定所做的修改，有权停止使用网络服务。如果您继续使用网络服务，则视为您接受ETC车宝对服务条款相关条款所做的修改。<br/>
            五、法律管辖：<br/>
            5.1 本服务条款的订立、执行和解释及争议的解决均应适用中国法律。<br/>
            5.2 如双方就本服务条款内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向ETC车宝经营者所在地的人民法院提起诉讼。
        </p>
        </div>
    </div>
</div>
<script src="../js/common.js"></script>
<script src="../js/car_service_state.js"></script>
</body>

</html>
