<!DOCTYPE html>
<html class="card_detail">

<head>
    <meta charset="utf-8">
    <title>特权卡详情</title>
    <meta id="meta_viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css">
</head>

<body>
    <div id="app" v-cloak>
        <comp-header :back_url="'/view/card_list.html'+url_search" :title="'特权卡详情'"></comp-header>
        <div id="main" :class="platform">
            <!--<div class="top_notice" v-if="cardstates == 2 && !isBindSuccess">
                您绑定的粤通卡不符合返还条件
            </div>-->

            <!-- 特权卡详情 banner状态 -->
            <div class="card-list-info-box">
                <img :src="detail_skin" alt="" />

                <div class="card-list-info-icon" v-if="cardstates ==1"><img src="../images/state1.png" alt="生效中" /></div>
                <div class="card-list-info-icon" v-else-if="cardstates ==2"><img src="../images/state2.png" alt="待激活" /></div>
                <div class="card-list-info-icon" v-else-if="cardstates ==3"><img src="../images/state3.png" alt="已转赠" /></div>
                <div class="card-list-info-icon" v-else-if="cardstates ==41 || cardstates ==42"><img src="../images/state4.png" alt="已过期" /></div>
                <div class="card-list-info-icon" v-else-if="cardstates ==51 || cardstates ==52 || cardstates ==53 || cardstates ==54"><img src="../images/state5.png" alt="已作废" /></div>
            </div>
            <!-- 特权卡详情 banner状态-->

            <!-- 特权说明-->    
            <div class="card-list-info-service">


                <p class="card-explain" @click="turnexplain(statement,detail_type)"><!-- 特权说明 <--><img src="../images/exp.jpg" alt="" /></p>
                <!-- :href="statement" -->

                
                <ul>
                    <li v-for="list in expalins" >  
                        <div class="card-info-service-icon"><img :src="list.url" alt="list.title" /></div>
                        <p>{{list.title}}</p>
                        <span>{{list.text}}</span>
                    </li>
               </ul>
                
            </div>
            <!-- 特权说明-->

            <!-- 个人信息 -->
            <div v-if="IsPersonal">
                <ul class="card-info-information" v-if="Personalst">
                    <p class="card-info-information-tit">个人信息</p>
                    <li>
                        <p class="info-icon"><i class="info-icon1"><img src="../images/list1.jpg" alt="" /></i>关联车牌</p>
                        <span>{{Personalst.plate_num}}</span>
                    </li>
                    <li>
                        <p class="info-icon"><i class="info-icon2"><img src="../images/list2.jpg" alt="" /></i>关联粤通卡</p>
                        <span>{{Personalst.ytk_no}}</span>
                    </li>
                    <li @click="restore(card_id)">
                        <p class="info-icon"><i class="info-icon3"><img src="../images/list3.jpg" alt="" /></i>剩余返还次数</p>
                        <span>{{Personalst.return_times}} 
                        <div class="lgtbox">
                            <div class="lgt"></div>
                            <i v-if="Personalst.red_point ==1"></i>
                        </div></span>
                    </li>
                    <li>
                        <p class="info-icon"><i class="info-icon4"><img src="../images/list4.jpg" alt="" /></i>到期时间</p>
                        <span>{{Personalst.expiration_time}}</span>
                    </li>
                </ul> 
            </div>
            <!-- 个人信息-->

            <!-- 待激活 --> 
            <div v-if="IsPending">
                <ul class="card-activated">
                    <li>
                        <p>激活截止日</p>
                        <span>{{unactivate_time}}</span>
                    </li>
                    <li @click="cardguide()">
                        <p>操作指南</p>
                        <div class="lgt lgt1"></div>
                    </li>
                </ul>
                <div class="btn-activated-box">
                    <div class="btn-card-act" @click="AliveCard(card_id,code,activate_code)" onclick="_hmt.push(['click','激活特权卡']);">激活特权卡</div>
                </div>
            </div>
            <!-- 待激活-->

            <!-- 已转赠 -->
            <div class="card-donation-invalid" v-if="IsInvalid" >
                <p class="card-info-information-tit">转赠记录</p>
                <div class="card-void-cont">
                    <p class="card-void-cont-hd">您的微信好友  {{invalid.nickname}}  领取了您的九折卡</p>
                    <p class="card-void-cont-bd">{{invalid.get_time}}</p>
                </div>   
            </div> 
            <!-- 已转赠 -->

            <!-- 已作废 已失效 -->   
            <div class="card-donation-invalid" v-if="IsCancle" >
                <p class="card-info-information-tit">作废说明</p>
                <div class="card-void-cont">
                    <p class="card-void-cont-hd">{{invalid.cancel_tips}}</p>
                    <p class="card-void-cont-bd">{{invalid.cancel_time}}</p>
                </div> 
            </div>
            <!-- 已作废 -->

            <!-- 已失效 -->   
            <div class="card-donation-invalid" v-if="IsLose" >
                <p class="card-info-information-tit">失效说明</p>
                <div class="card-void-cont">
                    <p class="card-void-cont-hd">{{invalid.cancel_tips}}</p>
                    <p class="card-void-cont-bd">{{invalid.cancel_time}}</p>
                </div> 
            </div>
            <!-- 已失效 -->

            <p class="card-info-tips" >如有疑问，请联系客服电话：<span>{{telephone}}</span></p>

            <div v-if="IsPending">
                <div class="btn-card-share" @click="ShareFrends()" onclick="_hmt.push(['click','转赠好友']);" v-if="IsAlive">转赠好友&gt;&gt;</div>
            </div>
        </div>
    </div>
    <script src="../js/common.js"></script>
    <script src="../js/card_detail.js"></script>
</body>

</html>
