<!DOCTYPE html>
<html lang="en" class="fuel_add">
<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
	<!-- HTTP 1.1 -->  
	<meta http-equiv="pragma" content="no-cache">  
	<!-- HTTP 1.0 -->  
	<meta http-equiv="cache-control" content="no-cache">  
	<!-- Prevent caching at the proxy server -->  
	<meta http-equiv="expires" content="0">
	<title>添加油卡</title>
	<link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
	<div id="app" v-cloak>
		<comp-header :title="'添加油卡'"></comp-header>
		<div id="main" class="container have-padding" :class="platform">
			<div class="order-top-tips">
				请认真核对您的卡号，误充他卡平台将无法退回
			</div>

			<div class="add-box">
				<div class="add-row">
					油卡卡号 :
					<input class="input" type="number" placeholder="请输入油卡卡号" v-model="card_num" @input="inputToString">
				</div>
				<div class="add-row">
					手机号码 :
					<input class="input" type="telephone" placeholder="请输入手机号码" v-model="phone">
				</div>
			</div>

			<!--<div class="delete-card clearfix" id="delCardButton" onclick="_hmt.push(['_trackEvent', '点击删除油卡', 'click', '点击删除油卡']);">
				<span class="fl">删除油卡</span>
				<span class="fr right-arrow"></span>
			</div>-->

			<div class="foot clearfix">
				<div class="foot-wrap">
					<div class="foot-inside">
						<div class="btn" @click="submit">提交保存</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/common.js"></script>
	<script src="../js/fuel_add.js"></script>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?e6ae06851688e868f792a29311ac9bc8";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</body>
</html>