<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>返还明细</title>
    <meta id="meta_viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css">
</head>

<body id="restore_detail">
<div id="app" v-cloak>
    <comp-header :back_url="'/view/card_detail.html?token='+token+'&card_id='+card_id" :title="'返还明细'"></comp-header>
    <div id="main" :class="platform">
        <div class="mod top">
            <div class="money">
                {{json_data.total}}
            </div>
            <div class="text">
                累计返还（元）
            </div>
        </div>
        <div class="mod list">
            <div class="title">
                返还明细
            </div>
            <div class="item no_trans" v-for="item in json_data.bill_list" @click="toSkip(item)">
                <div class="item_left">
                    <div class="item_title">
                        返还{{item.type==1?'路费':item.type==2?'U币':item.type==3?'卡券':''}}
                        <span class="item_money">
                            {{item.status && item.status!=99?'失败':item.amount}}
                        </span>
                    </div>
                    <div class="item_subtitle">
                        {{item.bill_date}}
                    </div>
                </div>
                <div class="item_right">
                    {{item.status && item.status!=99?'联系客服':item.tips}}

                    <div :class="{arrow_right:canSkip(item)}"></div>
                </div>
            </div>
        </div>

        <div class="loading">
            加载中...
        </div>
    </div>
</div>
<script src="../js/common.js"></script>
<script src="../js/restore_detail.js"></script>
</body>

</html>
