<!DOCTYPE html>
<html id="share_9discount">

<head>
    <meta charset="utf-8">
    <title>ETC 9折特权卡</title>
    <meta id="meta_viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../css/style.min.css">
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="header">
        <img src="../images/bg_share_9card.png" alt="">
    </div>

    <div class="mod main" v-show="show_status == 0">

        <div class="mod_item notice tc" v-show="hasGot">
            {{notice}}
        </div>

        <div class="mod_item">
            <input id="phone" type="text" v-model="phone" placeholder="请输入手机号领取九折卡">
        </div>

        <div class="mod_item">
            <div class="btn" @click="submit">马上领取</div>
        </div>

    </div>

    <div class="mod main" v-show="show_status == 1">
        <div class="mod_item notice tc">
            <img class="icon" src="../images/emoji_sad.png" alt="">
            来晚一步，该特权卡已被领取
        </div>

        <div class="mod_item">
            <div class="btn" @click="toGet">我也要获取</div>
        </div>
    </div>

    <div class="mod main" v-show="show_status == 2">
        <div class="mod_item">
            <img src="../images/bg_9card_1.png" alt="">
        </div>

        <div class="mod_item note">
            特权卡已放至账户 <span style="color:#000;">{{phone}}</span> 赶紧登录APP使用
        </div>
        <div class="mod_item">
            <div class="btn" @click="use">立即使用</div>
        </div>
    </div>

    <div class="mod footer">
        <div class="title">
            <img src="../images/icon_title.png" alt="">
            活动规则
            <img src="../images/icon_title.png" class="img_mirror" alt="">
        </div>
        <div class="content">
            1. 填写手机号码，即可领取ETC 9折特权卡，先抢先得。</br>
            2. 特权卡需登录ETC车宝APP，绑定粤通卡（国标卡）激活使用。</br>
            3. 特权卡首次领取90天内激活有效，逾期不激活则作废。</br>
            4. 特权卡转赠被好友领取后，原持卡用户不能再绑定激活该卡。
        </div>
    </div>
</div>
<script src="../js/common.js"></script>
<script src="../js/share_9discount.js"></script>
</body>

</html>
