<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--<link rel="stylesheet" type="text/css" href="../resources/css/login.css">-->
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <title>手机号快捷登陆页</title>
</head>
<body class="login">
<div id="app" v-cloak>
    <div class="bg"></div>
    <!--主页面-->
    <div class="main_field">
        <div class="nav"></div>
        <div class="login_title">
            <span>手机号快捷登陆</span>
        </div>
        <div class="input_field">
            <div class="row">
                <div class="info_mod">
                    <div class="info" v-if="phone">手机号</div>
                </div>
                <div class="inner">
                    <input v-model="phone" id="phone" placeholder="手机号"/>
                    <div class="clear" @click="clearInput('phone')">
                        <img src="/images/icon_close.png" alt="" v-if="phone">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="info_mod">
                    <div class="info" v-if="captcha">验证码</div>
                </div>
                <div class="inner">
                    <input v-model="captcha" id="captcha" placeholder="短信验证码"/>
                    <div class="clear captcha" @click="clearInput('captcha')">
                        <img src="/images/icon_close.png" alt="" v-if="captcha">
                    </div>

                    <div class="send_sms" :class="{'disabled':(phone.length!=11)}" @click="(time==0 && phone.length==11)?sendSms():''">
                        {{time>0?time+'秒后重发':'发送短信验证码'}}
                    </div>
                </div>
            </div>
            <div class="login_btn" :class="{'disabled':(!phone || phone.length!=11 ||!captcha)}" @click="(!phone || phone.length!=11 ||!captcha)?'':toLogin()">登录</div>

            <!--<input v-model="phone" class="input_lg" placeholder="手机号"/>
            <input v-model="captcha" class="input_mid" placeholder="短信验证码"/>
            <button class="send_sms" @click="time>0?'':sendSms()">
                {{time>0?time+'秒':'发送短信'}}
            </button>
            <button class="login_btn" @click="toLogin">登录</button>-->
        </div>
    </div>
    <div class="other_login_type">
        <div class="other_login_type_tip">使用第三方账号登录</div>
        <div class="logo_filed">
            <div @click="toWechatLogin" class="wechat_logo"></div>
        </div>
    </div>
</div>


<!--<script>
    (function(){
        function w () {
            var r = document.documentElement;
            var a = r.getBoundingClientRect().width;
            if (a > 750) {
                a = 750;
            };
            rem = a / 7.5;
            r.style.fontSize = rem + 'px';
        };
        var t;
        w();
        window.addElementListener('resize',function(){
            clearTimeout(t);
            t = setTimeout(w,300)
        },false);
    })();
</script>-->

<script src="/js/common.js"></script>
<script src="/js/login/login.js"></script>
</body>
</html>