/**
*公共css
**/
@charset "UTF-8";
html{
    height:100%;
}
blockquote，th, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, ul {
    padding: 0;
    margin: 0
}
body {
    background: #efefef;
    width:100%;
    max-width: 750px;
    height:100%;
    margin: 0 auto;
    font-size: 0.65rem;/*750宽时26px*/
    font-family: Microsoft Yahei, Hiragino Sans GB, "Helvetica Neue", Helvetica, sans-serif;
}

body, input, textarea, select, h1, h2, h3, h4, h5, h6 {
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
}

em, i {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

input, button {
    -webkit-appearance: none;
    outline: none;
}

input {
    border: none;
    outline: none;
    resize: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    word-break: break-all;
}

footer{
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    padding:0.5rem;
    box-sizing: border-box;
}
* {
    line-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[v-cloak]{
    display: none;
}
#app{
    max-width:750px;
    min-height:100%;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.button {
    background: #09b6f2;
    border: 1px solid #09b6f2;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 0.25rem;
    line-height: 2.3rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 0 0.5rem;
    margin: 0;
    height: 2.3rem;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
    font-size: .90rem;
    font-family: inherit;
    cursor: pointer;
}

.btn-lg {
    height: 2.25rem;
    line-height: 2.25rem;
    width: 100%;
}

/*对话框*/
.dialog_2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
.dialog_2 *{
    line-height: 100%;
}
.dialog_2 .dialog_2-box{
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -40%;
    z-index: 10001;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}
.dialog_2 .dialog_2-close{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    margin-top:2rem;
    z-index: 10001;
}
.icon_close{
    display: inline-block;
    width:1rem;
    height:1rem;
    background: url("../images/icon_close.png") no-repeat;
    background-size: contain;
}

/*对话框*/
.dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.dialog-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #000;
    opacity: .7;
    filter: alpha(opacity:70);
}

.dialog-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -40%;
    z-index: 10001;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.dialog-detail {
    padding: 30px 20px;
    font-size: 16px;
    line-height: 1.5;
}

.dialog-opera {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
}

.dialog-btn {
    height: 50px;
    border: none;
    background: none;
    color: #157efb;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
}

.dialog-btn-close {
    width: 100%;
}

.dialog-btn-cancel, .dialog-btn-ok {
    width: 50%;
    float: left;
}

.dialog-btn-ok {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.dialog-prompt {
    text-align:center;
    color: #fff;
    width: 100%;
    position: absolute;
    z-index: 10001;
    /*left: 55%;*/
    bottom: 10%;
    text-align: center;
    border-radius: 1rem;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    display: block;
}
.dialog-prompt div{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .8);
    display:inline-block;
    padding: 0.4rem 1rem;
}