<div  class="ks-ac ks-product-picker-wrap"  ng-click="showPicker()">
    <a href="javascript:void(0)" class="ks-ac-result inline-block">
        <span class="inline-block ks-ac-show-text ellipsis" title="{{selectedCostomer.name}}">
            {{selectedCustomer.name}}
        </span>
        <span ng-show="!disabled" class="fa fa-caret-down drop-down"></span>
    </a>


    <ks-popup-picker show-picker="picker.visible" width="800" height="450" >
        <!--查询条件wrap-->
        <div class="ks-product-picker-inputs clearfix">

            <!--联系人:模糊查询-->
            <input style="width:100px;" placeholder="联系人" ng-model="sc.name" class="input-sm form-control ks-product-picker-input"/>

            <!--联系电话:模糊查询,按中文名搜索-->
            <input style="width:100px;" placeholder="联系电话" ng-model="sc.phone" class="input-sm form-control ks-product-picker-input"/>

            <input style="width:180px;" placeholder="公司名称" ng-model="sc.companyName" class="input-sm form-control ks-product-picker-input"/>

			<label class="">交易员</label>
			<ks-sales-picker ng-model="sc.staffId"></ks-sales-picker>
			
            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="selectEntities(true)">查询</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="resetForm()">重置</a>
        </div>
        <div class="ks-ac-table ks-product-picker-table" >
            <div class="ks-product-picker-thead">
                <div class="head-cell" style="width:85px;">联系人
                </div>
                <div class="head-cell" style="width:85px;">电话
                </div>
                <div class="head-cell" style="width:65px;">客户等级
                </div>
                <div class="head-cell" style="width:255px;">公司名称
                </div>
                <div class="head-cell" style="width:165px;">交易员
                </div>
                <div class="head-cell" style="width:50px;">选择
                </div>
            </div>
            <div class="ks-product-table-wrap" style="height: 280px;">
                <table class="table table-striped ks-grid">

                    <tbody>
                    <tr ng-repeat="row  in customers" class="ks-row">
                        <td class="ks-cell ellipsis" style="width:80px;">
                            <div style="width:80px;" class="ellipsis cell">
                                <span style="color:#5cb85c">{{::row.name || ''}}</span>
                            </div>
                        </td>
                        <td class="ks-cell ellipsis"  style="width:80px">
                            <div style="width:80px;" class="ellipsis cell">
                                <span>{{::row.phone || ''}}</span>
                            </div>
                        </td>
                        <td class="ks-cell ellipsis" style="width:60px">
                            <div style="width:60px;" class="ellipsis cell">
                                    <span ng-switch="row.buyerLevel">
										<span ng-switch-when="1">普通</span>
										<span ng-switch-when="2">铜牌</span>
										<span ng-switch-when="3">银牌</span>
										<span ng-switch-when="4">金牌</span>
										<span ng-switch-default></span>
									</span>
                            </div>
                        </td>

                        <td class="ks-cell ellipsis" style="width:250px">
                            <div style="width:250px" class="ellipsis cell">
                                <span >{{row.companyName || ''}}</span>
                            </div>
                        </td>

                        <td class="ks-cell ellipsis" style="width:160px">
                            <div style="width:160px;" class="ellipsis cell">
                                <span >{{row.salesOperatorNames || ''}}</span>
                            </div>
                        </td>

                        <td class="ks-cell ellipsis " style="width:50px;" >
                            <div style="width:50px;" class="ellipsis cell">
                                <a href="javascript:void(0)" class="btn btn-success btn-sm ks-product-picker-choose-btn" ng-click="chooseCustomer(row)">选择</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--分页条-->
        <ks-paging on-select-page="onSelectPageHandler(pagination)" paging="pagination" limit="30">
        </ks-paging>
        <div class="ks-ac-toolbar">
            <a href="javascript:void(0)" class="btn btn-danger btn-sm clear-btn" ><span class="fa fa-times clear-btn"></span> 删除</a>
        </div>
    </ks-popup-picker>

    <!--<div class="ks-product-picker-wrapper">-->
        <!--<div class="ks-product-picker " style="width:800px;height:450px; " ng-show="picker.visible === true">-->

        <!--</div>-->
    <!--</div>-->


</div>