<div  class="ks-ac ks-product-picker-wrap"  ng-click="showPicker()">
    <a href="javascript:void(0)" class="ks-ac-result inline-block">
        <span class="inline-block ks-ac-show-text ellipsis" title="{{selectedCompany.name}}">
            {{selectedCompany.name}}
        </span>
        <span class="fa fa-caret-down drop-down"></span>
    </a>
    <div class="ks-product-picker-wrapper">
        <div class="ks-product-picker " style="width:740px;height:350px;padding-top: 10px;" ng-show="picker.visible === true">

            <!--查询条件wrap-->
            <div class="ks-product-picker-inputs clearfix">
                <input style="width:180px;" placeholder="公司名称" ng-model="sc.name" class="input-sm form-control ks-product-picker-input"/>
                <!--联系电话:模糊查询,按中文名搜索-->
                <input style="width:100px;" placeholder="联系电话" ng-model="sc.phone" class="input-sm form-control ks-product-picker-input"/>
                <div class="btn-group" style="width: 180px ;">
                    <label class="btn btn-default status-label " style="width: 60px;" ng-model="sc.verified" btn-radio="-1">全部</label>
                    <label class="btn btn-default status-label " style="width: 60px;" ng-model="sc.verified" btn-radio="0">未认证</label>
                    <label class="btn btn-default status-label " style="width: 60px;" ng-model="sc.verified" btn-radio="1">已认证</label>
                </div>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="selectEntities(true)">查询</a>
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="sc = {}">重置</a>
            </div>
            <div class="ks-ac-table ks-product-picker-table"  >
                <div class="ks-product-picker-thead">
                    <div class="head-cell" style="width:325px;">公司名称
                    </div>
                    <div class="head-cell" style="width:150px;">联系电话
                    </div>
                    <div class="head-cell" style="width:100px;">认证状态
                    </div>
                    <div class="head-cell" style="">选择
                    </div>
                </div>
                <div class="ks-product-table-wrap" style="height: 180px;">
                    <table class="table table-striped ks-grid" style="table-layout: fixed">

                        <tbody>
                        <tr ng-repeat="row  in companies" class="ks-row">
                            <td class="ks-cell ellipsis" style="width: 325px;padding: 0 4px 0  30px">
                                <div class="ellipsis cell" title="{{::row.name || ''}}">
                                    <span style="color:#5cb85c" >{{::row.name || ''}}</span>
                                </div>
                            </td>
                            <td class="ks-cell ellipsis" style="width:150px;padding: 0 4px;text-align: center" >
                                <div class="ellipsis cell"  title="{{::row.phone || ''}}">
                                    <span>{{::row.phone || ''}}</span>
                                </div>
                            </td>
                            <td class="ks-cell ellipsis" style="width:100px;padding: 0 4px;text-align: center">
                                <div  class="ellipsis cell" ng-switch="row.verified">
                                    <span  ng-switch-when="1">已认证</span>
                                    <span  ng-switch-default="">未认证</span>
                                </div>
                            </td>

                            <td class="ks-cell ellipsis " >
                                <div  class="ellipsis cell"  >
                                    <a href="javascript:void(0)" class="btn btn-success btn-sm ks-product-picker-choose-btn" ng-click="chooseCompany(row)">选择</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--分页条-->
            <ks-paging on-select-page="onSelectPageHandler(pagination)" paging="pagination" limit="30" style="margin-top: 5px;padding-left: 10px;">
            </ks-paging>
            <div class="ks-ac-toolbar">
                <a href="javascript:void(0)" class="btn btn-danger btn-sm clear-btn" ><span class="fa fa-times clear-btn"></span> 删除</a>
            </div>
        </div>
    </div>
</div>