html {
    font-family:Microsoft Yahei, Hiragino Sans GB, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 12px;
    -webkit-tap-highlight-color: #333;
}

body {
    margin: 0;
    font-family:Microsoft Yahei, Hiragino Sans GB, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

ul, ol, dl, li, dd, dt, p {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}
.inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
button, input, select {
    font-family:Microsoft Yahei, Hiragino Sans GB, "Helvetica Neue", Helvetica, sans-serif;
}
a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active {
    outline: 0;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.linkspace {
    padding-right: 15px;
}

b, strong {
    font-weight: 700;
}

textarea {
    overflow: auto;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.word-break {
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}