@import "../sass_lib/sass_utils";
@charset "UTF-8";

.car_bind_list {
  background-color: #efefef;
  min-height: 100%;

  body,#main{
    background-color: #efefef;
    min-height: 100%;
  }

  .list {
    margin-top: pxToRem(20);
    .item {
      background: #fff;
      margin: pxToRem(20);
      margin-top: 0;
      display: flex;
      padding: pxToRem(30);
      padding-right: 0;
      -webkit-border-radius: pxToRem(10);
      -moz-border-radius: pxToRem(10);
      border-radius: pxToRem(10);
    }
    .label {
      padding: pxToRem(20);
      color: #999999;
    }

    .item.empty {
      .main {
        flex:1;
        text-align: center;
        .title {
          font-size: pxToRem(32);
          font-weight: bold;
          margin-bottom: pxToRem(20);
        }
        .subtitle {
          color: $color_golden_text;
        }
      }
    }

    .item.checkbox {
      .left {
        flex: 5;
        .title {
          font-weight: bold;
          margin-bottom: pxToRem(20);
        }
        .subtitle {
          color: #858585;
        }
      }
      .right {
        position: relative;
        flex: 1;
        &:after {
          content: '';
          display: inline-block;
          width: pxToRem(36);
          height: pxToRem(36);
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto auto;
          background-image: url("../images/icon_uncheck.png");
          background-size: 100%;
        }
      }
    }
    .item.checkbox.checked{
      .right:after {
        background-image: url("../images/icon_checked.png");
      }
    }
  }

  .footer{
    display: flex;
    position: fixed;
    left:0;
    bottom:0;
    background-color: #fff;
    width:100%;
    padding:pxToRem(20);
    border-top:1px solid $color_border;
    .btn{

    }
  }
}