@charset "UTF-8";
/*全局变量*/
/*函数*/
/*混合*/
.car_bind_list {
  background-color: #efefef;
  min-height: 100%; }
  .car_bind_list body, .car_bind_list #main {
    background-color: #efefef;
    min-height: 100%; }
  .car_bind_list .list {
    margin-top: 0.5rem; }
    .car_bind_list .list .item {
      background: #fff;
      margin: 0.5rem;
      margin-top: 0;
      display: flex;
      padding: 0.75rem;
      padding-right: 0;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem; }
    .car_bind_list .list .label {
      padding: 0.5rem;
      color: #999999; }
    .car_bind_list .list .item.empty .main {
      flex: 1;
      text-align: center; }
      .car_bind_list .list .item.empty .main .title {
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 0.5rem; }
      .car_bind_list .list .item.empty .main .subtitle {
        color: #d27e00; }
    .car_bind_list .list .item.checkbox .left {
      flex: 5; }
      .car_bind_list .list .item.checkbox .left .title {
        font-weight: bold;
        margin-bottom: 0.5rem; }
      .car_bind_list .list .item.checkbox .left .subtitle {
        color: #858585; }
    .car_bind_list .list .item.checkbox .right {
      position: relative;
      flex: 1; }
      .car_bind_list .list .item.checkbox .right:after {
        content: '';
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto auto;
        background-image: url("../images/icon_uncheck.png");
        background-size: 100%; }
    .car_bind_list .list .item.checkbox.checked .right:after {
      background-image: url("../images/icon_checked.png"); }
  .car_bind_list .footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.5rem;
    border-top: 1px solid #d8d8d8; }
