@charset "UTF-8";
/*全局变量*/
/*函数*/
/*混合*/
.car_coupon_list .coupon_item {
  display: flex;
  margin: 0.5rem;
  margin-bottom: 0;
  position: relative;
  border: 1px solid #E5BBBB;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.65rem;
  background: url("../images/bg_coupon.png");
  background-size: 130%; }
  .car_coupon_list .coupon_item .left {
    flex: 1;
    text-align: center;
    padding: 0.75rem 0; }
    .car_coupon_list .coupon_item .left .money {
      font-size: 0.75rem; }
      .car_coupon_list .coupon_item .left .money span {
        font-size: 2rem;
        font-weight: bold; }
    .car_coupon_list .coupon_item .left .statement {
      font-size: 0.6rem; }
  .car_coupon_list .coupon_item .right {
    flex: 2;
    padding: 1.25rem 0;
    padding-left: 0.75rem;
    border-left: 1px dashed #E5BBBB; }
    .car_coupon_list .coupon_item .right .title {
      margin-bottom: 0.5rem;
      font-weight: bold; }
    .car_coupon_list .coupon_item .right .subtitle {
      color: #666; }
  .car_coupon_list .coupon_item .type {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: #cc423f;
    padding: 0.2rem 0.5rem;
    color: #fff;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem; }
    .car_coupon_list .coupon_item .type:before, .car_coupon_list .coupon_item .type:after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -0.2rem;
      padding: 0.2rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ece2e2;
      box-sizing: border-box;
      width: 0.4rem;
      height: 0.4rem;
      top: 0;
      bottom: 0;
      margin: auto 0; }
    .car_coupon_list .coupon_item .type:after {
      left: auto;
      right: -0.2rem; }
  .car_coupon_list .coupon_item.disabled {
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); }
    .car_coupon_list .coupon_item.disabled .left {
      color: #bfbfbf; }
    .car_coupon_list .coupon_item.disabled .right {
      color: #bfbfbf; }
      .car_coupon_list .coupon_item.disabled .right .subtitle {
        color: #bfbfbf; }
    .car_coupon_list .coupon_item.disabled .type {
      background-color: #bfbfbf; }
