@charset "UTF-8";
html, body, #app, #mai {
  background-color: #f0f0f0; }

.card_detail {
  /* .card-list-info-service li:nth-child(3n+1) span{
         text-align: left;
     }
     .card-list-info-service li:nth-child(3n+3) span{
         text-align: right;
     }*/
  /*.card-info-information p.info-icon1:before{
       background: url(../images/list1.jpg) no-repeat center center;
       background-size: contain;
    }
    .card-info-information p.info-icon2:before{
       background: url(../images/list2.jpg) no-repeat center center;
       background-size: contain;
    }
    .card-info-information p.info-icon3:before{
       background: url(../images/list3.jpg) no-repeat center center;
       background-size: contain;
    }
    .card-info-information p.info-icon4:before{
       background: url(../images/list4.jpg) no-repeat center center;
       background-size: contain;
    }*/
  /*.btn-card-share .twice{
        width:.45rem;
        height:100%;
        display: inline-block;
        vertical-align: top;
        background: url(../images/twice.png) no-repeat center center;
        background-size: contain;
    }*/
  /*.card-donation-invalid .card-info-information-tit {
        padding-left: 4%;
        height: 2.1rem;
        line-height: 2.1rem;
        border-bottom: 1px solid #e4e4e4;
    }*/
  /*!*车主卡*!
    .card_detail .car_statement_list{
        background-color: #fff;
        padding-top:0.75rem;
    }
    .card_detail .car_item{
        display: inline-block;
        width:32.5%;
        text-align: center;
        padding-bottom:0.75rem;
    }
    .card_detail .car_item .icon{
        position:relative;
    }
    .card_detail .car_item .icon img{
        width :2.15rem;
        height:2.15rem;
    }
    .card_detail .car_item .icon.canUpdate:after{
        content:'';
        position: absolute;
        top:0;
        right:1rem;
        width:1.875rem;
        height:0.8rem;
        background-image: url("../images/icon_canUpdate.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .card_detail .car_item .text{
        font-size: 0.7rem;
        color:#666;
        padding-top:0.4rem;
    }
    !*.car_item .subText{
        font-size: 0.6rem;
        color:#999;
    }*!


    !*洗车优惠券总数*!
    .coupon_total{
        margin-top:0.5rem;
        text-align: center;
        background-color: #fff;
        padding:1.5rem 0;
    }
    .coupon_total>.money{
        color:#d27e00;
        font-size:2rem;
    }
    .coupon_total.disabled>.money{
        color:#999999;
    }
    .coupon_total>.subTitle{
        color:#999999;
        margin-bottom:1.5rem;
    }
    .coupon_total>.remain{
        font-size: 0.75rem;
    }
    .coupon_total>.remain>.money{
        font-size: 0.75rem;
        color:#d27e00;
    }
    .coupon_total>.remain:after{
        content:'';
        width:0.375rem;
        height:0.375rem;
        border: 1px solid #666;
        border-width: 1px 0 0 1px;
        display:inline-block;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        vertical-align: top;
        margin-top: 0.35rem;

    }
    .coupon_total.disabled>.statement{
        font-size: 0.75rem;
        color:#d27e00;
    }*/ }
  .card_detail .card-info-tips {
    font-size: .65rem;
    color: #999;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
    font-size: .6rem; }
  .card_detail .card-info-tips span {
    color: #eabf50; }
  .card_detail .card-list-info-box {
    width: 84%;
    /*min-height:5.6rem;*/
    position: relative;
    padding-top: 0.9rem;
    margin: 0 auto; }
  .card_detail .card-list-info-box > img {
    width: 100%;
    display: block;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    /* position:absolute;bottom:0;
         left:0;*/ }
  .card_detail .card-list-info-box .card-list-info-icon {
    width: 2.25rem;
    height: 2.25rem;
    position: absolute;
    top: 0.9rem;
    right: 0; }
  .card_detail .card-list-info-box .card-list-info-icon img {
    width: 100%; }
  .card_detail .card-list-info-service {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px .5rem #d5d5d5;
    text-align: center;
    padding-top: .55rem;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ececec; }
  .card_detail .card-explain {
    height: .6rem;
    color: #666;
    margin-bottom: .85rem; }
  .card_detail .card-explain img {
    height: 100%; }
  .card_detail .card-list-info-service ul {
    width: 100%; }
  .card_detail .card-list-info-service ul:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .card_detail .card-list-info-service ul li {
    width: 33.333%;
    float: left;
    margin-bottom: 1rem;
    overflow: hidden; }
  .card_detail .card-info-service-icon {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 auto; }
  .card_detail .card-info-service-icon img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    margin-bottom: .1rem; }
  .card_detail .card-list-info-service ul li p {
    height: 1.45rem;
    line-height: 1.45rem;
    color: #333;
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .7rem; }
  .card_detail .card-list-info-service ul li span {
    color: #999;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .6rem;
    height: 1.45rem;
    line-height: 1.45rem; }
  .card_detail .card-list-info-service li a.trunurl {
    width: 100%;
    height: 100%;
    background-color: #f49;
    display: block; }
  .card_detail .card-info-information {
    width: 100%;
    margin-top: 0.5rem;
    background-color: #fff;
    color: #666;
    font-size: .7rem; }
  .card_detail .card-info-information-tit {
    padding-left: 4%;
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 1px solid #e4e4e4;
    color: #666; }
  .card_detail .card-info-information li {
    width: 96%;
    height: 2.4rem;
    line-height: 2.4rem;
    float: right;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 4%; }
  .card_detail .card-info-information p.info-icon {
    width: 44%;
    height: 100%;
    float: left;
    position: relative;
    /*padding-left:1.1rem;*/ }
  .card_detail .card-info-information p.info-icon i {
    width: 1rem;
    height: 100%;
    display: block;
    float: left;
    margin-right: .5rem; }
  .card_detail .card-info-information p.info-icon i img {
    width: 100%;
    vertical-align: middle; }
  .card_detail .card-info-information span {
    width: 56%;
    height: 100%;
    float: right;
    text-align: right;
    padding-right: 4%;
    color: #333; }
  .card_detail .card-info-information li span i {
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    background-color: red;
    float: right;
    margin-top: .9rem;
    margin-left: .2rem; }
  .card_detail .lgtbox {
    width: .7rem;
    height: 100%;
    float: right; }
  .card_detail .lgt {
    width: .25rem;
    height: 100%;
    display: inline-block;
    background: url(../images/lgt.jpg) no-repeat right center;
    background-size: contain; }
  .card_detail .lgt1 {
    margin-right: 4%;
    float: right; }
  .card_detail .card-info-information li:last-child, .card_detail .card-activated li:last-child {
    border-bottom: none; }
  .card_detail .card-info-information li.bobe4 {
    border-bottom: 1px solid #e4e4e4; }
  .card_detail .card-info-information:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .card_detail .card-activated {
    width: 100%;
    margin-top: 0.5rem;
    background-color: #fff;
    color: #666;
    font-size: .7rem; }
  .card_detail .card-activated li {
    width: 96%;
    height: 2.4rem;
    line-height: 2.4rem;
    float: right;
    border-bottom: 1px solid #e4e4e4; }
  .card_detail .card-activated li p {
    width: 44%;
    height: 100%;
    float: left;
    font-size: .7rem;
    color: #666; }
  .card_detail .card-activated li span {
    width: 56%;
    height: 100%;
    float: left;
    padding-right: 4%;
    color: #333;
    text-align: right;
    font-size: .7rem; }
  .card_detail .card-activated:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .card_detail .btn-card-share {
    width: 40%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #d27e00;
    font-size: .7rem;
    /*position:absolute;
        left:30%;
        bottom:2.85rem;*/
    margin: 0 auto 3.5rem auto; }
  .card_detail .btn-activated-box {
    width: 100%;
    height: 3.2rem;
    /*line-height: 285%;*/
    padding: 0 4%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #dcdcdc; }
  .card_detail .btn-activated-box .btn-card-act {
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    background-color: #eabf50;
    text-align: center;
    color: #8e4d00;
    font-size: .75rem;
    margin: .5rem auto;
    border-radius: .125rem; }
  .card_detail .card-donation-invalid {
    background-color: #fff;
    margin-top: 0.5rem; }
  .card_detail .btn-activated-box .btn-card-act.disabled {
    color: #fff;
    background-color: #d8d8d8; }
  .card_detail .card-donation-invalid .card-void-cont {
    padding: .5rem 4%; }
  .card_detail .card-donation-invalid .card-void-cont .card-void-cont-hd {
    color: #333;
    font-size: .7rem;
    line-height: 150%; }
  .card_detail .card-donation-invalid .card-void-cont .card-void-cont-bd {
    color: #999;
    font-size: .65rem; }
  .card_detail [v-cloak] {
    display: none; }
